.card {
  border-top: 3px solid var(--clr-dark);
  border-right: 3px solid var(--clr-dark);
  border-top-right-radius: 20px;
  padding-right: 15px;
  margin-top: 30px;
  transition: border 200ms ease-in-out;
  min-width: 400px;
  width: 50%;
  cursor: pointer;
  margin-right: 10px;
}
.card:last-of-type {
  justify-content: flex-start;
}
.card:hover {
  border-top: 3px solid #3671c6;
  border-right: 3px solid #3671c6;
  border-top-right-radius: 20px;
  padding-top: 15px;
  margin-top: 15px;
  cursor: pointer;
  transition: border 200ms ease-in-out;
}

@media (min-width: 1500px) {
  .top3 {
    width: 500px;
  }
}
