.card {
  border-top: 3px solid var(--clr-dark);
  border-right: 3px solid var(--clr-dark);
  border-top-right-radius: 20px;
  padding-right: 15px;
  margin-top: 30px;
  transition: border 200ms ease-in-out;
  min-width: 300px;
  width: 70%;
  cursor: pointer;
  margin-right: 10px;
}

.card:hover {
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: var(--custom-color);
  border-top-right-radius: 20px;
  padding-top: 15px;
  margin-top: 15px;
  cursor: pointer;
  transition: border 200ms ease-in-out;
}

@media (min-width: 1500px) {
  .top3 {
    width: 400px;
  }
}

@media (max-width: 1100px) {
  .card {
    min-width: 500px;
  }
}
