.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.driver_search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.driver_search-input {
  padding-top: 5px;
  width: 30%;
}
.search_icon {
  background-color: var(--clr-white);
  font-size: 22px;
  border: 1px solid var(--clr-dark);
}

@media (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }
}
